@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	background-color: #FFFCCC;
    margin: 0;
}

.icon-water { 
	color: #4DC8F0;
	font-size: 30em;
    padding-top: 4rem;
}

.bg {
    background-color: #4DC8F0;
    padding: 8rem;
    margin-top: -1em;
}

.btn {
    background-color: #00E0CA;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: .6em;
    border-radius: 5px;
    display: inline-block;
    margin: .5em;
    padding-right: .5em;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #FFCE00;
    transition: all .1s linear;
}

.btn i{
    vertical-align: middle;
    padding-right: .5em;
}

.banner {
    width: 100%;
    margin: 0;
}

.sea {
    padding: 2rem 2rem 7rem 2rem;
}

@media only screen and (min-width: 35em) { 
    .sea {
        width: 100%;
        padding: 5rem;
	}
}

@media only screen and (min-width: 50em) { 
    .sea {
        width: 100%;
        padding: 8rem;
	}
}
